body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #343F4F ;
	/* background: url() no-repeat; */
	background-size: cover;
	/* background-color: #343F4F; */
}

.login-box {
	width: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #191970;
	background: rgb(255, 255, 255);
	border-radius: 25px;
	padding: 20px;
}

.login-box h1 {
	float: left;
	font-size: 40px;
	border-bottom: 4px solid #191970;
	margin-bottom: 50px;
	padding: 13px;
}

.textbox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #191970;
}


.textbox input {
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	float: left;
	margin: 0 10px;
}

.button {
	width: 100%;
	padding: 8px;
	color: #ffffff;
	background: none #191970;
	border: none;
	border-radius: 6px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}

.messagedisplay{
    width: 380px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}