body{
    text-align: center;
    background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
}
.messagedisplay{
    /* border: 2px solid black; */
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.displaybutton{
    /* padding: 5px 15px; */
    /* border: 2px solid black; */
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.displaybutton input{
    font-size: 18px;
    margin: 15px 40px;
    border-radius: 25px;
    background-color: rgb(220, 237, 151);
    color: white;
    cursor: pointer;
}