<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="check.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'check.css' %}">
    <title>Check</title>
</head>
<body>
    <h1>Check Username avaibility</h1>
    <div class="messagedisplay">
        {{errors}}
    </div>
    <div class="formdata">
        <form action="/check" method="POST">
            {% csrf_token %} 
            <div>
                <input type="text" name="uname" id="uname" placeholder="Username">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>