<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
    h1{text-align: center;}
    body{font-family: Verdana, sans-serif; color: rgb(68, 68, 68); width: 29.7cm; height: 21cm;}
    .backcolor{background-color: rgb(243, 243, 243);}
    .left{text-align: right;}
    </style>
</head>
<body style="background-color: bisque;">
    <div style="padding: 5%; vertical-align: auto; margin-left: auto; margin-right: auto; text-align: left;background-color:white">
        <h1 class="backcolor"><b>Resume</b></h1>
        <hr>
        <div style="margin-right: auto;">
            <img class="left" src="https://www.idphotodiy.com/images/malaysia_passport_photo_blue.jpg" alt="This isn't me!!" width="270" height="250" float="left" >
        </div>
        <div>
            <b>Name:</b> Omkar<br><br>
            <b>Mobile:</b> +91-9604779804 <br><br>
            <b>E-mail:</b> omkargwagholikar@gmail.com <br><br>
            <b>Address:</b> 123, PQR Road, City, State, India </div>
        <br><br>
        <b>PROFILE SUMMARY</b><br><br>
        <div style="text-align: justify;text-justify: inter-word; margin-left: auto; width: 90%;justify-content: left;">Ambitious and self-esteemed engineering fresher who is capable of applying technical skills for the
            improvement of the company. Improved my app and web development skills with the help of graduation in 
            Computer Engineering and looking forward to work in a competitive environment that can boost my 
            overall learning.</div> 
        <hr>
        <b class="backcolor">EDUCATION</b><br>
        <div style="margin-left: auto; width: 90%;">
            <ul>
                <li>Persuing BE in PICT</li>
                <li>10+2 from P.Jog Institute in 2015 with 92% </li>
                <li>10th from SSBS 95% </li>
            </ul>
        </div>
        <hr>
        <b class="backcolor">TECHNICAL SKILLS</b>
        <div style="margin-left: auto; width: 90%;" >
            <ul>
                <li>Database: Django</li>
                <li>Applications: Flutter</li>
                <li>Servers:</li>
                <li>Languages: C++, Python, Flutter, Java...</li>
            </ul>
        </div>
        <hr>
        <b class="backcolor">Major Projects</b>
        <div style="margin-left: auto; width: 90%;" >
            <ul>
                <li>Telegram Bots</li>
                <li>Music Player App</li>
                <li>Poster designing</li>
            </ul>
        </div>
        <hr>
        <b class="backcolor">CERTIFICATION COURSES</b>
        <div style="margin-left: auto; width: 90%;" >
            <ul>
                <li>Web Development Using PHP</li>
                <li>Java Programming & Data Structures </li>
                <li>Software Quality Testing </li>
            </ul>
        </div>
        <hr>
        <b class="backcolor">Personal Details</b><br><br>
        Date of Birth: 27/09/2003 <br><br>
        <b>Languages Known </b>
        <div style="margin-left: auto; width: 90%;" >
            <ul>
                <li>English</li>
                <li>Marathi</li>
                <li>Hindi</li>
            </ul>
        </div>
        <hr>
    </div>
</body>
</html>
