<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TASK1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

    </head>
    <body>
    <div class="container">
        <h1> Print the Numbers</h1>
        <form action = "{% url 'nums' %}" method = "post">
            {% csrf_token %}
            <input type ="numbers" name ="num">
            <br>
            <br>
            <button type = "submit" class = "btn btn-primary">submit</button>
        </form>
    {% for num in nums %}
    <h2>{{num}}</h2>
    {% endfor %}
    {% if message %}
    {% for message in messages %}
    <small {% if messages.tags %} class="{{messages.tags}}"{% endif %}
    > {{message}}</small>
    {% endfor %}
    {% endif %}
    </div>
    </body>
</html>